<mat-card class="w-100 d-flex flex-column playlist-browser-card">

  <ng-container *ngIf="selection == null; else playlist">
    <form [formGroup]="form" (ngSubmit)="createPlaylist()">
      <div class="d-flex w-100">
        <mat-form-field class="flex-grow-1" appearance="outline">
          <mat-label>Playlist name</mat-label>
          <input matInput placeholder="my techhouse selection, oldies, ..." formControlName="name">
        </mat-form-field>

        <div class="d-flex flex-column justify-content-center ml-2">
          <button mat-raised-button color="primary" [disabled]="form.invalid">
            <mat-icon>add</mat-icon>
            Create
          </button>
        </div>
      </div>
    </form>

    <div class="divider"></div>

    <div class="flex-grow-1 position-relative">
      <cdk-virtual-scroll-viewport class="abs-full-size" appendOnly [itemSize]="50">
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let playlist of playlists" [value]="playlist.id" (selectedChange)="selectionChange(playlist)">
            {{ playlist.name }}
          </mat-list-option>
        </mat-selection-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </ng-container>

  <ng-template #playlist>
    <div class="d-flex">
      <div class="d-flex flex-column justify-content-center flex-grow-1">
        <h3 class="playlist-title m-0">{{ selection.name }}</h3>
      </div>
      <button mat-icon-button (click)="clearSelection()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div class="divider pt-1 mb-1"></div>

    <div class="flex-grow-1 position-relative">
      <cdk-virtual-scroll-viewport class="abs-full-size" appendOnly [itemSize]="50">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let track of tracks">{{ track }}</mat-list-item>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </div>

  </ng-template>

</mat-card>
