.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.artist-img {
  width: 40px;
  height: 40px;
}

table {
  width: 100%;
}

.playlist-browser-box {
  width: 350px;
}
